:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-icon {
  cursor: pointer;
}

.post-image img{
  width: 100%;
  object-fit: cover;
  object-position: 20% 30%;
  height: 300px;
}
