<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts?.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="d-flex g-20">
      <div class="post-image">
        <img [src]="post.imagePath" alt="Post image">
      </div>
      <p>{{ post.content }}</p>
    </div>
    <mat-action-row>
      <a [routerLink]="['edit', post._id]">
        <mat-icon>edit</mat-icon>
      </a>
      <mat-icon (click)="onDelete(post._id)">delete</mat-icon>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts && posts.length <= 0">
  No posts added yet
</p>

