:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-icon {
  cursor: pointer;
}

.post-image {
  max-width: 50%;
}

.post-image img {
  width: 100%;
  object-fit: contain;
  min-width: 300px;
  max-height: 500px;
}
