<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading"
        [formGroup]="form"
        (ngSubmit)="onSavePost()">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text"
             formControlName="title"
             name="title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button
              (click)="filePicker.click()"
              type="button">
        Pick image
      </button>
      <br>
      <input type="file"
             (change)="onImagePicked($event)"
             #filePicker>
    </div>
    <div *ngIf="imagePreview"
         class="image-preview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-error *ngIf="form.get('image').errors?.invalidMimeType">
      Invalid image format!
    </mat-error>
    <br>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea formControlName="content"
                matInput name="content">
      </textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <br>
    <button type="submit"
            mat-raised-button
            [disabled]="form.invalid && !imagePreview"
            color="accent">
      Save post
    </button>
  </form>
</mat-card>

