<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading"
        (ngSubmit)="onSavePost(postForm)"
        #postForm="ngForm">
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput type="text"
             [ngModel]="post?.title"
             name="title" #title="ngModel"
             ngModel required>
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="example-full-width">
      <mat-label>Content</mat-label>
      <textarea matInput name="content"
                [ngModel]="post?.content"
                #content="ngModel"
                ngModel required>
      </textarea>
      <mat-error *ngIf="content.invalid">Please enter a post content</mat-error>
    </mat-form-field>
    <br>
    <button type="submit"
            mat-raised-button
            [disabled]="postForm.invalid"
            color="accent">
      Save post
    </button>
  </form>
</mat-card>

